{% if gtin_actions %}
<div class="row">
    {% for action in gtin_actions %}
        <div class="col-auto">
        {% include 'documents/document_processor/new_gtin_template.html' %}
        </div>
    {% empty %}
        <div class="col-12">
            <p>No further model actions required</p>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if partially_matched_assets %}
<div class="row">
    {% for action in partially_matched_assets %}
        <div class="col-auto">
        {% include 'documents/document_processor/asset_template.html' %}
        </div>
    {% endfor %}
</div>

<div class="row">
    {% for action in create_asset %}
        <div class="col-auto">
        {% include 'documents/document_processor/asset_template.html' %}
        </div>
    {% endfor %}
</div>

{% if models_with_gtin %}
<div class="row">
    {% for action in models_with_gtin %}
        <div class="col-auto">
        {% include 'documents/document_processor/model_template.html' %}
        </div>
    {% endfor %}
</div>
{% endif %}
{% if models_without_gtin %}
<div class="row">
    {% for action in models_without_gtin %}
        <div class="col-auto">
        {% include 'documents/document_processor/model_template.html' %}
        </div>
    {% endfor %}
</div>
{% endif %}

{% if fully_matched_asset %}
<div class="row">
    {% for action in fully_matched_asset %}
        <div class="col-auto">
        {% include 'documents/document_processor/asset_template.html' %}
        </div>
    {% endfor %}
</div>
{% endif %}


{% endif %}
<div class="row">
    {% for action in fully_matched_model %}
        <div class="col-auto">
        {% include 'documents/document_processor/new_gtin_template.html' %}
        </div>
    {% endfor %}
</div>

