{% extends 'documents/document_processor/action_card_template.html' %}

{% block header %} {{action.label}} {% endblock header %}
{% block title %}
  Delivery: <a href="{{action.obj.get_absolute_url }}" class="btn btn-primary">{{action.obj}}</a>
{% endblock title %}
{% block text %}
  <ul>
  <li>Supplier: {{action.obj.po.supplier}}</li>
  <li>Date Raised: {{action.obj.po.date_raised}}</li>
  <li>Status: {{action.obj.po.order_status}}</li>
  </ul>
{% endblock text %}
{% block footer %}
{% endblock footer %}
