{% load django_bootstrap5 %}
{% load custom_tags %}

{% bootstrap_form_errors form type='non_fields' %} 
{% for field in form %}
  {% bootstrap_field field show_help=False %}
    {% for error in field.errors %}
          <p class='text-danger text-small'>{{ error }}</p>
    {% endfor %}


    {% with original=form.original|get_original:field.html_name %}
      {% if original %}
          <p class='text-primary text-small'>Original value: {{ original.value }}</p>
      {% endif %}
    {% endwith %}
{% endfor %}
