{% load crispy_forms_tags %} <!-- Load Crispy Forms -->


<div  class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
      </div>
      <div class="modal-body">

        <form class="form" method="post"
        hx-post="{{request.path}}"
        hx-trigger="submit"
        hx-target="#modals-here"
        hx-on::after-Request="
        bootstrap.Modal.getInstance(document.getElementById('modals-here')).hide();
        htmx.trigger(document.body, 'refreshDiv');
        window.location.reload();
        ">
        {% csrf_token %}
        {{ form|crispy }}

        {% if view_type == "delete" %}
        <h3>Are you sure you want to delete {{object}}</h3>
        <button class="btn btn-danger" type="submit">Confirm Delete</button>
        {% else %}
        <button class="btn btn-primary" type="submit">Save</button>
        {% endif %}

        </form>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
        {{error_message}}  
        </div>
        {% endif %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>