
{{form.media}}
{% for field in form  %}
        <div id="div_id_{{ field.name }}" class='d-flex m-1 p-1 gap-1 align-items-center' >
          <div>
            {{ field.label_tag }}
          </div>
          <div>
            {{ field }}
          </div>
          <div>
                <i class="bi  bi-x-circle text-danger"
                  type='button'
                    _="
                    on click
                        remove #div_id_{{field.name}}
                        wait 100ms
                        trigger submit on #filter-form
                        ">
                  </i>
          </div>
        </div>
{% endfor %}

