<!-- Button trigger modal -->
{% if not 'new' in group_id %}
{% if not quick_scanner %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#live_scanner_modal">
  Live Scanner
</button>
{% endif %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="live_scanner_modal" tabindex="-1" aria-labelledby="live_scanner_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="live_scanner_modal_label">Live Scanner</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div style="position:relative;display:inline-block;">
              <video id="video"
                    autoplay
                    playsinline
                    muted></video>

              <canvas id="overlay"
                      style="
                          position:absolute;
                          left:0;
                          top:0;
                          pointer-events:none;">
              </canvas>
          </div>

          <p id="status">Starting...</p>

          <script type="module">

          import {
              readBarcodes,
              prepareZXingModule
          } from "https://cdn.jsdelivr.net/npm/zxing-wasm@2.2.4/+esm";


          const status = document.getElementById("status");
          const video = document.getElementById("video");


          await prepareZXingModule();

          status.textContent = "ZXing ready";


          const stream = await navigator.mediaDevices.getUserMedia({
              video: {
                  facingMode: "environment"
              }
          });


          video.srcObject = stream;


    await new Promise(resolve => {
        video.onloadedmetadata = resolve;
    });


    await video.play();


    status.textContent = 
        `Camera ${video.videoWidth}x${video.videoHeight}`;


    const canvas = document.createElement("canvas");
    const ctx = canvas.getContext("2d");
    const input = document.getElementById("scanner_input{{group_id}}");


    const scannedCodes = new Set();

    async function scan() {

        if (video.videoWidth === 0) {
            requestAnimationFrame(scan);
            return;
        }

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;

        ctx.drawImage(
            video,
            0,
            0,
            canvas.width,
            canvas.height
        );

        const image = ctx.getImageData(
            0,
            0,
            canvas.width,
            canvas.height
        );

        try {

            const results = await readBarcodes(image, {
                formats: [
                  "DataMatrix",
                  "Code128"
              ]
          });


        
        for (const result of results) {
            const code = result.text;

            if (scannedCodes.has(code)) {
                continue;
            }

            scannedCodes.add(code);

            console.log(result.format, code);
            showDetection(result);
            input.value = code;

            htmx.trigger(
                "#add_image{{ group_id }}",
                "submit"
            );
        }


      } catch(e) {

          console.error("ZXing error:", e);

      }


      requestAnimationFrame(scan);
  }
  requestAnimationFrame(scan);


  </script>

<div id="scan-indicator" class="scan-indicator">
    ✓ Scanned
</div>

<script>
const indicator = document.getElementById("scan-indicator");

function showScanIndicator(text = "✓ Scanned") {

    indicator.textContent = text;

    indicator.classList.add("show");

    clearTimeout(indicator.timer);

    indicator.timer = setTimeout(() => {
        indicator.classList.remove("show");
    }, 1000);
}

const overlay = document.getElementById("overlay");
const overlayCtx = overlay.getContext("2d");
function showDetection(result) {

    overlay.width = video.videoWidth;
    overlay.height = video.videoHeight;

    overlayCtx.clearRect(
        0,
        0,
        overlay.width,
        overlay.height
    );

    const p = result.position;

    overlayCtx.beginPath();
    overlayCtx.moveTo(p.topLeft.x, p.topLeft.y);
    overlayCtx.lineTo(p.topRight.x, p.topRight.y);
    overlayCtx.lineTo(p.bottomRight.x, p.bottomRight.y);
    overlayCtx.lineTo(p.bottomLeft.x, p.bottomLeft.y);
    overlayCtx.closePath();

    overlayCtx.lineWidth = 4;
    overlayCtx.strokeStyle = "#00ff00";
    overlayCtx.stroke();

    overlayCtx.fillStyle = "rgba(0,255,0,.2)";
    overlayCtx.fill();

    setTimeout(() => {
        overlayCtx.clearRect(
            0,
            0,
            overlay.width,
            overlay.height
        );
    }, 400);
}

</script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
