{% load custom_tags %}

{% if models %}
<h6>Similar Models found</h6>
    {% for model in models  %}
    <div class='d-flex gap-1 flex-row align-items-center'>
      <p>{{model.modelid}}: {{model.brandid}} {{model.modelname|highlight:search_term}} - {{model.categoryid}}</p>
      {% if model.gtin %}
        <a
            type='button'
            class='btn btn-sm btn-outline-secondary'
            href='{% url "model_information:copy_model" pk=model.modelid %}?temp_group_id={{ temp_group_id }}'>
            Copy 
      </a>
      {% else %}
        <a
            type='button'
            class='btn btn-sm btn-outline-secondary'
            href='{% url "model_information:update_model" pk=model.modelid %}?temp_group_id={{ temp_group_id }}'>
            Update
      </a>
      {% endif %}
    </div>
    {% endfor %}

{% endif %}
