{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load custom_tags %}
{% load static %}

{% block content %}

{% partialdef modelname %}
  {% for name in modelname %}
    <button type='button' class='btn btn-sm btn-outline-secondary'
      _='on click set value of #id_modelname to my innerText'>
      {{name}}
    </button>
  {% endfor %}

{% endpartialdef %}

{% partialdef brand %}
  <div
    >
          <p>Existing Brands</p>
          <ul>
            {% for brand in existing_brands %}
              <button class='btn btn-sm btn-outline-secondary'
                type='button'
                _="on click
                    call setOption(
                                #id_brandid_picker,
                                'brandid',
                                '{{ brand.brandname }}',
                                '{{ brand.pk }}'
                            )
                    ">
                {{brand}}
              </button>
            {% endfor %}
          </ul>


        {% if perms.assets.add_tblbrands %}
          <p>Add New</p>
          <a
          href="{% url 'model_information:create_brand'%}?temp_group_id={{temp_group.pk}}"
          type='button'
          class="btn btn-outline-secondary btn-sm">
          <i class="bi bi-plus-lg"></i> 
          </a>
            {% for brand_name in brandname %}
                  <a href='{% url "model_information:create_brand" %}?brandname={{ brand_name|urlencode }}&temp_group_id={{temp_group.pk}}'
                class='btn btn-sm btn-outline-secondary'>
                  {{brand_name}}
                </a>
            {% endfor %}
        {% endif %}
  </div>
{% endpartialdef %}

{% partialdef category %}
<div
      >

  <p>Existing Categories</p>
  <ul>
    {% for category in existing_categories %}
      <button class='btn btn-sm btn-outline-secondary'
        type='button'>
        {{category}}
      </button>
    {% endfor %}
  </ul>

  {% if perms.assets.add_tblcategories %}
    <p>Add New</p>
            <a
                href="{% url 'model_information:create_category'%}?temp_group_id={{temp_group.pk}}"
            class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-plus-lg"></i> Category
            </a>
      {% for category_name in categoryname %}
        <a href="{% url 'model_information:create_category' %}?categoryname={{category_name}}&temp_group_id={{temp_group.pk}}"
        class='btn btn-sm btn-outline-secondary'>
        {{category_name}}
        </a>
      {% endfor %}
    {% endif %}
 </div>   

{% endpartialdef %}

<div id='add_model' class=' container bg-white p-2'>
        <h4>Create a new Model</h4>
        {% include 'documents/partials/temp_file_group_mini.html' %}

        <div class="row">
                <div class="col">
                        {% bootstrap_messages %}
                        <form id='model_create_form'
                                class="form" method="post" action=""
                                novalidate>
                                {{form.media}}
                                {% csrf_token %}
                              {% for field in form %}
                                <div class='border m-3 p-3'>
                                  {% bootstrap_field field %}
                                  {% if field.name in 'modelname' %}
                                    {% partial modelname %}

                                    <img id="spinner" class="htmx-indicator" width="24" height="24" src="{% static 'spinners/3-dots-fade.svg' %}">
                                    <div
                                        hx-get='{% url "model_information:existing_modellist" %}?temp_group_id={{temp_group.pk}}'
                                        hx-trigger='keyup from:#id_modelname delay:50ms'
                                        hx-include='#model_create_form'
                                        hx-target='this'
                                        hx-swap='innerHTML'
                                        hx-indicator='#spinner'></div>
                                    </div>


                                  {% elif field.name in 'brandid' %}
                                    {% partial brand %}
                                  {% elif field.name in 'categoryid' %}
                                    {% partial category %}
                                  {% endif %}

                                </div>
                              {% endfor %}

                          {% include 'partials/form_buttons.html' %}
                        </form>
                </div>
                <div class='col'>
                


        </div>
</div>



{% endblock content %}
