{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div id='add_model' class=' container bg-white p-2'>
        <h4>Create a new Model</h4>
        {% include 'documents/partials/temp_file_group_mini.html' %}

        <div class="row">
                {% comment "form" %}New model form{% endcomment %}
                <div class="col">
                        {% bootstrap_messages %}
                        <form
                                class="form" method="post" action="{{request.path}}"
                                novalidate>
                                {{form.media}}
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <input type='hidden' name='temp_group_pk' value="{{ temp_group.pk }}">
                                <button class="btn btn-primary" type="submit">Save</button>

                        </form>
                </div>
                
                <div class="col">
                  <h5>Name Options</h5>
                  <ul>
                    {% for name in payload.modelname %}
                      <button class='btn btn-sm btn-outline-secondary'
                        _='on click set value of #id_modelname to my innerText'>
                        {{name}}
                      </button>
                    {% endfor %}
                  </ul>
                </div>

                <div class="col">
                  <h5>Category</h5>
                    {% if perms.assets.add_tblcategories %}
                            <button
                            hx-get="{% url 'model_information:create_category'%}"
                            hx-target="#modals-here"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#modals-here"
                            class="btn btn-outline-secondary btn-sm">
                            <i class="bi bi-plus-lg"></i> Category
                            </button>
                    {% endif %}
                  <p>Existing</p>
                  <ul>
                    {% for category in payload.existing_categories %}
                      <button class='btn btn-sm btn-outline-secondary'
                        _='on click set value of #id_modelname to my innerText'>
                        {{category}}
                      </button>
                    {% endfor %}
                  </ul>
                  <p>Suggested New</p>
                  <ul>
                    {% for category_name in payload.cagetory_options %}
                      <button class='btn btn-sm btn-outline-secondary'
                        _='on click set value of #id_modelname to my innerText'>
                        {{category_name}}
                      </button>
                    {% endfor %}
                  </ul>
                </div>

                <div class="col">
                  <h5>Brand</h5>
                  {% if perms.assets.add_tblbrands %}
                          <button
                          hx-get="{% url 'model_information:create_brand'%}"
                          hx-target="#modals-here"
                          hx-trigger="click"
                          data-bs-toggle="modal"
                          data-bs-target="#modals-here"
                          class="btn btn-outline-secondary btn-sm">
                          <i class="bi bi-plus-lg"></i> Add New 
                          </button>
                  {% endif %}
                  <p>Existing</p>
                  <ul>
                    {% for brand in payload.existing_brands %}
                      <button class='btn btn-sm btn-outline-secondary'
                        _='on click set value of #id_modelname to my innerText'>
                        {{brand}}
                      </button>
                    {% endfor %}
                  </ul>
                  <p>Suggested New</p>
                  <ul>
                    {% for brand_name in payload.brand_options %}
                        <a href='{% url "model_information:create_brand" %}?brandname={{brand_name}}&temp_group_pk={{payload.temp_group_pk}}'
                        class='btn btn-sm btn-outline-secondary'>
                          {{brand_name}}
                        </a>
                    {% endfor %}
                  </ul>
                </div>
                {% comment "buttons" %}Buttons to create new brand and categories if required.{% endcomment %}
                <div class="col">


                </div>
        </div>
</div>



{% endblock content %}
