{% extends "base.html" %}
{% load django_tables2 %}
{% load i18n %}


{% block content %}


<div id='asset_filter_table' class="container-flex p-3 row-gap-3">
      <div class='d-flex flex-row  gap-2 align-items-center'>
          <div id='title_name'>
            <h1>Acquisitions</h1>
          </div>
          <div id='action_create' class='ms-auto'>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'capital_projects:acquisition_create' %}">New <i class="bi bi-plus"></i></a>
          </div>  
      </div>
</div>
{% include "filter_table.html" with app_link='capital_projects:acquisitions' %}


{% endblock content %}


