{% extends "base.html" %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->

{% block content %}
<!--List Asset Details -->

<div id="acquisition_details" class='container'>

    <h3>Acquisition: {{acquisition.code}} - {{acquisition.name}}</h3>

      <div class="row  bg-white p-4 rounded"> 
        <div class="col">
          <p><small class="text-muted">Project: </small>{{acquisition.capitalproject}}</p>
          <p><small class="text-muted">Description: </small>{{acquisition.description}}</p>
          <p><small class="text-muted">Status: </small>{{acquisition.status}}</p>
          <p><small class="text-muted">Responsible: </small>{{acquisition.responsible}}</p>
          <p><small class="text-muted">Target Date: </small>{{acquisition.targetdate}}</p>
          <a class='btn btn-sm btn-outline-secondary' href='{% url "capital_projects:acquisition_update" pk=acquisition.id %}'>Update</a>
          <a class='btn btn-sm btn-outline-secondary' href='{% url "capital_projects:acquisition_delete" pk=acquisition.id %}'>Delete</a>
        </div>

        <div class="col">
          <h6>Commissioning Requests</h6>
          <p><small class="text-muted">Request count: </small>{{request_count}}</p>
            <a class='btn btn-sm btn-outline-secondary' href='{% url "capital_projects:commission_request_create" %}?capital_acquisition={{acquisition.pk}}'>Add Commissioning Request</a>
            <a class='btn btn-sm btn-outline-secondary' href='{% url "capital_projects:commission_requests" %}?acquisition__iexact={{acquisition.pk}}'>View Commissioning Requests</a>

        </div>
      </div>

</div>


{%endblock content%}

