{% extends "base.html" %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->

{% block content %}
<!--List Asset Details -->

<div id="project_details" class='container'>

      <h3>Project: {{project.code}} - {{project.name}}</h3>
      <div class="row  bg-white p-4 rounded"> 
        <div class="col">
          <p><small class="text-muted">Description: </small>{{project.description}}</p>
          <p><small class="text-muted">Type: </small>{{project.typeid}}</p>
          <p><small class="text-muted">Status: </small>{{project.statusid}}</p>
          <p><small class="text-muted">Responsible: </small>{{project.responsibleid}}</p>
          <p><small class="text-muted">Start: </small>{{project.startdate}}</p>
          <p><small class="text-muted">End: </small>{{project.enddate}}</p>
        <a class='btn btn-outline-secondary' href='{% url "capital_projects:project_update" pk=project.id %}'>Update</a>
        <a class='btn btn-outline-secondary' href='{% url "capital_projects:project_delete" pk=project.id %}'>Delete</a>
        </div>
        <div class="col">
          <h6>Acquisitions</h6>
          <p><small class="text-muted">Active Projects count: </small>{{active_project_count}}</p>
            <a class='btn btn-sm btn-outline-secondary' href='{% url "capital_projects:acquisition_create" %}?capitalproject={{project.pk}}'>Add Acquisition</a>
            <a class='btn btn-sm btn-outline-secondary' href='{% url "capital_projects:acquisitions" %}?capitalproject__iexact={{project.pk}}'>View Acquisitions</a>

        </div>
      </div>

</div>


{%endblock content%}

