{% extends "base.html" %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->

{% block content %}
<!--List Asset Details -->

<div id="commissioning_details" class='container'>

  <h3>Commissioning Request: {{request.code}}-{{request.name}}</h3>
      <div class="row  bg-white p-4 rounded"> 
        <div class="col">
          <p><small class="text-muted">Customer: </small>{{request.customerid}}</p>
          <p><small class="text-muted">Notes: </small>{{request.notes}}</p>
          <p><small class="text-muted">Status: </small>{{request.status}}</p>
          <p><small class="text-muted">Location: </small>{{request.locationid}}</p>
          <p><small class="text-muted">PO: </small>{{request.orderno}}</p>
        </div>
        <div class="col text-end">
          <div id="edit_div" class="dropdown">

          </div>

        </div>
      </div>

</div>


{%endblock content%}

