<div id='jobs' class="container border">
<h4 class="text-secondary">Jobs</h4>

{% if perms.assets.add_tbljob %}

    <a type="button" class="btn btn-sm btn-outline-secondary"
      href="{% url 'jobs:jobs_list' %}?assetid__iexact={{ asset.assetid }}" >All Jobs
    </a>

    <a type="button" class="btn btn-sm btn-outline-secondary"
      href="{% url 'jobs:job_create' %}?assetid={{ asset.assetid }}" >Create Job
    </a>

    <a href="{% url 'jobs:job_create' %}?assetid={{ asset.assetid }}&quickjob='successful_ppm'"
      class='btn btn-sm btn-outline-secondary'>
      Create PPM Job
    </a>



{% endif %}


<div id='open_jobs' class="row g-3 m-1">
    {% if open_jobs %}
    <h4 class="text-secondary">Open Jobs </h4>
    {% for job in open_jobs  %}
          <div class="card border-warning mb-3">
            <div class="card-body">
                      <div class="card-header bg-{{job.jobstatusid.color}}">
                    {{job.jobstatus}}
                    </div>
                <h5 class="card-title">
                    <a href="{% url 'jobs:job_summary' pk=job.jobid %}">Job: {{job.jobid}} ({{job.jobstatus}}) {{job.startdate}}-{{job.enddate}}</a>
                </h5>
                  
                <div class="col-12 col-md-6 col-xl-3">
                  <p class="card-text">{{job.workdone}}</p>
                </div>

                <div class="col-12 col-md-6 col-xl-3">
                  <p class="cart-text">    Parts: {{job.partsperjob}}</p>
                </div>
            </div>
          </div>
    {% endfor %}
    {% endif %}
</div>


<div id='all_jobs' class="row g-3 m-1">

    {% for job in asset.asset.job_view.all  %}
        {% if job not in open_jobs %}
                <div class="card border-success ">
                    <div class="card-header">
                         <a class="text-decoration-none " href="{% url 'jobs:job_summary' pk=job.jobid %}">Job: {{job.jobid}}</a> 
                    </div>
                    <div class="card-body">
                      <div class="card-header bg-{{job.jobstatusid.color}}">
                            {{job.jobstatus}}
                            </div>
                          
                        <div class="col-12 col-md-6 col-xl-3">
                          <p class="card-text">{{job.workdone}}</p>
                        </div>

                        <div class="col-12 col-md-6 col-xl-3">
                          <p class="card-text">   <strong>Start:</strong>  {{ job.startdate }}<br>
                                                  <strong>End:</strong>    {{ job.enddate }}
                          </p>
                        </div>


                        <div class="col-12 col-md-6 col-xl-3">
                          <p class="cart-text">    Parts: {{job.partsperjob}}</p>
                        </div>
                    </div>

                </div>
        {% endif %}
    {% endfor %}
</div>

</div>






