{# templates/tables/bootstrap_htmx.html #}

{% extends 'tables/bootstrap5-responsive.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load custom_tags %}

{% block table %}
    {% for row in table.paginated_rows %}
        <div class="card border-secondary mb-3">
          <div class="card-header bg-transparent" >
              <div class='d-flex justify-content-between'>
                {% for column, value in row.items %}
                  {% if forloop.counter == 2 %}
                    <div class="d-flex">
                      <div class="{% if request.GET|get:column.name %}text-fill-primary {%else%}text-muted{% endif %}">
                              {{ column.verbose_name}} 
                            </div>
                          <div class='ms-2'>
                            {% if column.name in table.search_fields %}
                              {{ value|highlight:table.src_re_obj }}
                            {% else %}
                              {{ value }}
                            {% endif %}
                          </div>
                      </div>
                    {% endif %}
                {% endfor %}
                    <div class="d-flex">
                            <input type="checkbox" value='{{row.record.pk}}' name='selected' class="form-check-input"  autocomplete="off">
                    </div>

              </div>
          </div>
          <div class="card-body">
                {% for column, value in row.items %}
                  {% if forloop.counter > 2 %}
                    <div class="row">

                        <div class="col {% if request.GET|get:column.name %}bg-primary-subtle {%else%}text-muted{% endif %}">
                        <button
                        hx-get="{% if request.GET %}{{ request.get_full_path }}&summary_field={{ column.name }}{% else %}{{ request.get_full_path }}?summary_field={{ column.name }}{% endif %}" 
                        data-bs-toggle="modal"
                        class="btn btn-link btn-sm p-0 text-decoration-none"
                        data-bs-target="#summaryModal"
                        hx-indicator='.htmx-indicator'
                        hx-target='#div_field_summary_data'
                        hx-swap='innerHTML'>
                            {{ column.header }} <i class="bi bi-three-dots-vertical"></i>
                            </button>
                        </div>

                        <div class="col">
                          {% if column.name in table.search_fields %}
                          {{ value|highlight:table.src_re_obj }}
                          {% else %}
                          {{ value }}
                          {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
          </div>
        </div>


    {% endfor %}
{% endblock table %}

 {# Pagination block overrides #}
{% block pagination.previous %}
    <li class="previous page-item">
        <div hx-get="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
             hx-trigger="click"
             hx-target="#result-container"
             hx-swap="innerHTML"
              hx-indicator='.htmx-indicator'
             class="btn page-link">
            <span aria-hidden="true">&laquo;</span>
            {% trans 'previous' %}
        </div>
    </li>
{% endblock pagination.previous %}
{% block pagination.range %}
    {% for p in table.page|table_page_range:table.paginator %}
        <li class="page-item{% if table.page.number == p %} active{% endif %}">
            <div class=" btn page-link" 
                 {% if p != '...' %}hx-get="{% querystring table.prefixed_page_field=p %}"{% endif %}
                 hx-trigger="click"
                 hx-target="#result-container"
                 hx-swap="innerHTML"
              hx-indicator='.htmx-indicator'>
                {{ p }}
            </div>
        </li>
    {% endfor %}
{% endblock pagination.range %}
{% block pagination.next %}
    <li class="next page-item">
        <div hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
             hx-trigger="click"
             hx-target="#result-container"
             hx-swap="innerHTML"
              hx-indicator='.htmx-indicator'
             class="btn page-link">
            {% trans 'next' %}
            <span aria-hidden="true">&raquo;</span>
        </div>
    </li>
{% endblock pagination.next %}
