{# templates/tables/bootstrap_htmx.html #}
{% extends 'tables/bootstrap5-responsive.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load custom_tags %}

{% block table.thead %}

{% if table.show_header %}

<thead {{ table.attrs.thead.as_html }} >
<tr>
  {% for column in table.columns %}
    <th class="{% if request.GET|get:column.name %}table-primary{% endif %}"
      hx-get="{% if request.GET %}{{ request.get_full_path }}&summary_field={{ column.name }}{% else %}{{ request.get_full_path }}?summary_field={{ column.name }}{% endif %}" 
      data-bs-toggle="modal"
      data-bs-target="#summaryModal"
      hx-indicator='#spinner'
      hx-target='#div_field_summary_data'
      hx-swap='innerHTML'
      >
    <div class="d-flex align-items-center justify-content-between gap-2">
        <small {{ column.attrs.th.as_html }} scope="col">
        <span class='text-primary'>{{ column.header }} <i class="bi bi-three-dots-vertical"></i></span>
        </small>

        <!--sort by field-->
        <button class="mb-0"
          hidden
          id='sort_button_{{column.name}}'
          hx-get="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
          hx-trigger="click"
          hx-target="#result-container"
          hx-swap="outerHTML"
          hx-push-url="true"
          style="cursor: pointer;">
          </button>
          <div class=" d-inline-flex gap-2">

          {% if column.name in request.GET.sort %}
              {% if '-' in request.GET.sort %}
              <i class="bi bi-sort-alpha-down-alt"></i>
              {% else %}
              <span><i class="bi bi-sort-alpha-down"></i></span>
              {% endif %}
          {% endif %}

        </div>
      </div>
  </th>
  
  {% endfor %}



</tr>
</thead>
{% endif %}
{% endblock table.thead %}

{% block table.tbody.row %}
                    <tr {{ row.attrs.as_html }}>
                        {% for column, cell in row.items %}
                          {% if column.name in table.search_fields %}
                          <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell|highlight:table.src_re_obj }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                          {% else %}
                            <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                          {% endif %}
                        {% endfor %}
                    </tr>
{% endblock table.tbody.row %}

 {# Pagination block overrides #}
{% block pagination.previous %}
    <li class="previous page-item">
        <div hx-get="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
             hx-trigger="click"
             hx-target="#result-container"
             hx-swap="outerHTML"
            hx-indicator='#spinner'
             class="btn page-link">
            <span aria-hidden="true">&laquo;</span>
            {% trans 'previous' %}
        </div>
    </li>
{% endblock pagination.previous %}
{% block pagination.range %}
    {% for p in table.page|table_page_range:table.paginator %}
        <li class="page-item{% if table.page.number == p %} active{% endif %}">
            <div class=" btn page-link" 
                 {% if p != '...' %}hx-get="{% querystring table.prefixed_page_field=p %}"{% endif %}
                 hx-trigger="click"
                 hx-target="#result-container"
                 hx-swap="outerHTML"
                  hx-indicator='#spinner'>
                {{ p }}
            </div>
        </li>
    {% endfor %}
{% endblock pagination.range %}
{% block pagination.next %}
    <li class="next page-item">
        <div hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
             hx-trigger="click"
             hx-target="#result-container"
             hx-swap="outerHTML"
             hx-indicator="#spinner"
             class="btn page-link">
            {% trans 'next' %}
            <span aria-hidden="true">&raquo;</span>
        </div>
    </li>
{% endblock pagination.next %}
