
        {% for groups, documents in grouped_documents.items %}

            <div class="accordion" id="document_accordion_{{forloop.counter}}">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                        {{ groups }}
                    </button>
                </h2>

                <div id="collapse_{{forloop.counter}}" class="accordion-collapse collapse show" data-bs-parent="#document_accordion_{{forloop.counter}}">
                <div class="accordion-body">
                    <ul class="list-group">
                    {% for document in documents %}

                        <li  class="list-group-item">
                        {{document.documentid.document_name}} - {{document.documentid.creation_date}}
                        {{document.documentid.document_description}}
                        
                        <a href="{% url 'documents:download_document' pk=document.document_link_id %}"
                            type="button"
                            class="btn btn-outline-info btn-sm">
                            <i data-bs-toggle="tooltip" title="View Document" class="bi bi-cloud-arrow-down"></i>
                        </a>
                        <button id="update_doc_button"
                            hx-get="{% url 'documents:update_document_link' pk=document.document_link_id%}"
                            hx-target="#modals-here"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#modals-here"
                            class="btn btn-outline-warning btn-sm">
                            <i  data-bs-toggle="tooltip" title="Edit Document" class="bi bi-pencil-square"></i>    
                        </button>  

                        <button id="delete_doc_button"
                            hx-get="{% url 'documents:delete_document_link' pk=document.document_link_id%}"
                            hx-target="#modals-here"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#modals-here"
                            class="btn btn-outline-danger btn-sm">
                            <i data-bs-toggle="tooltip" title="Delete Document" class="bi bi-file-earmark-minus"></i>    
                        </button> 
                        </li>
                {% endfor %}  
                </ul>
                  </div>
                </div>
            </div>

        {% endfor %}

