{% load django_bootstrap5 %}

    {% bootstrap_messages %}

        <form id='document_link_create_form' class="form" method="post"
        enctype="multipart/form-data"
        hx-post="{{request.get_full_path}}"
        hx-trigger="submit"
        hx-target="#document_create_modal_content"
        hx-on::after-Request= "bootstrap.Modal.getInstance(document.getElementById('document_create_modal')).hide();">
        <h4>Link to {{object}} </h4>
  
        {{form.media}}
        {% bootstrap_messages %}

        {% csrf_token %}
        {% bootstrap_form form %}

        <button id="save_button" class="btn btn-primary" type="submit">Save</button>

      </form>

      <!--show temporary uploaded files if they exist-->
      <div id="temp_upload_group_select_div"
      hx-get="{% url 'documents:link_temporary_document' %}?object_id={{object.pk}}&content_type={{content_type}}"
      hx-swap='innerHTML'
      hx-trigger='load'
      hx-target='this'
      >
      </div>
