{% load crispy_forms_tags %} <!-- Load Crispy Forms -->


<div  class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attach Document</h5>
      </div>
      <div class="modal-body">

        <form id='document_link_create_form' class="form" method="post"
        enctype="multipart/form-data"
        hx-post="{{request.path}}"
        hx-trigger="submit"
        hx-target="#modals-here"
        hx-on::after-Request= "bootstrap.Modal.getInstance(document.getElementById('modals-here')).hide();">
        <h4>Link to {{form.link_table.value}} {{form.link_row.value}} </h4>
  
        {% csrf_token %}
        {{ form|crispy }}


        {% if view_type == "delete" %}
        <h3> Are you sure you want to delete document {{object.document_name}} </h3>
        <button id="save_button" class="btn btn-danger" type="submit">Confirm Delete</button>
        {% else %}
        <button id="save_button" class="btn btn-primary" type="submit">Save</button>
        {% endif %}

      </form>

      <!--show temporary uploaded files if they exist-->
      <div id="temp_upload_group_select_div"
      hx-get="{% url 'documents:link_temporary_document' %}"
      hx-swap='innerHTML'
      hx-trigger='load'
      hx-target='this'
      >
      </div>

      {% if error_message %}
      <div class="alert alert-danger" role="alert">
      {{error_message}}  
      </div>
      {% endif %}
      
      {% include 'partials/messages.html' %}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
