<!-- Button trigger modal -->
{% if not quick_scanner %}


<div id='live_scanner' hidden>


<div id="scanner"
     _="

        on start
            set my.running to true
            call startScanner()

            repeat while my.running
                call scanFrame(me)
                wait 50ms
            end
        end

        on stop
            set my.running to false
            call stopScanner()
        end

        on barcode_found
            put event.detail.code into #scanner_input{{group_id}}.value
            set innerHTML of #latest_code to event.detail.code

            call showDetection(event.detail.result)
            set form to #add_image{{ group_id }}
            call form.requestSubmit() 
            then wait 100ms then form.reset()
        end
">

    <div class='ratio ratio-4x3 position-relative mx-auto' style='max-width:500px;'>
        <video
          id="video"
          autoplay
          playsinline
          class="w-100 h-100 object-fit-cover">
        </video>
        <canvas id="overlay"
        class="position-absolute top-0 start-0 w-100 h-100 pe-none">
        </canvas>

    </div>
    <button type="button" class="position-relative top-0 start-0 btn btn-warning btn-sm"
      _='on click trigger stop on #scanner then add @hidden to #live_scanner then show #start_live_scanner_button'
      >Stop </button>


    <div id="scan-indicator" class="scan-indicator">
        ✓ Scanned
        <p id='latest_code'> </p>
    </div>

</div>

<script type="module">
import {
    prepareZXingModule,
    readBarcodes
} from "https://cdn.jsdelivr.net/npm/zxing-wasm@2.2.4/+esm";

await prepareZXingModule();

const video = document.querySelector("#video");
const overlay = document.querySelector("#overlay");
const overlayCtx = overlay.getContext("2d");

const frame = document.createElement("canvas");
const frameCtx = frame.getContext("2d");

const scanned = new Set();

let stream;

async function startScanner() {


    stream = await navigator.mediaDevices.getUserMedia({
        video: {
            facingMode: "environment",
            width: {ideal:1280},
            height: {ideal:720}
        }
    });

    video.srcObject = stream;

    await new Promise(r => video.onloadedmetadata = r);

    await video.play();

    frame.width = video.videoWidth;
    frame.height = video.videoHeight;

}

function stopScanner() {

    stream?.getTracks().forEach(t => t.stop());
    stream = null;
    video.srcObject = null;
}

async function scanFrame(el) {

    if (!video.videoWidth) return;

    frameCtx.drawImage(video,0,0,frame.width,frame.height);

    const image = frameCtx.getImageData(
        0,
        0,
        frame.width,
        frame.height
    );

    try {

        const results = await readBarcodes(image,{
            formats:["DataMatrix","Code128"]
        });

        console.log(results.length)
        for (const result of results) {

            if (scanned.has(result.text)) continue;

            scanned.add(result.text);

            el.dispatchEvent(
                new CustomEvent("barcode_found",{
                    detail:{
                        code:result.text,
                        result
                    }
                })
            );

            break;
        }

    } catch(e) {
        console.error(e);
    }
}

function showDetection(result){

    overlay.width = video.videoWidth;
    overlay.height = video.videoHeight;

    overlayCtx.clearRect(0,0,overlay.width,overlay.height);

    const p = result.position;

    overlayCtx.beginPath();
    overlayCtx.moveTo(p.topLeft.x,p.topLeft.y);
    overlayCtx.lineTo(p.topRight.x,p.topRight.y);
    overlayCtx.lineTo(p.bottomRight.x,p.bottomRight.y);
    overlayCtx.lineTo(p.bottomLeft.x,p.bottomLeft.y);
    overlayCtx.closePath();

    overlayCtx.lineWidth = 4;
    overlayCtx.strokeStyle = "#00ff00";
    overlayCtx.fillStyle = "rgba(0,255,0,.2)";

    overlayCtx.fill();
    overlayCtx.stroke();

    setTimeout(() =>
        overlayCtx.clearRect(0,0,overlay.width,overlay.height),
        400
    );
}


window.startScanner = startScanner;
window.stopScanner = stopScanner;
window.scanFrame = scanFrame;
window.showDetection = showDetection;
window.showIndicator = showIndicator;
</script>
</div>
{% endif %}
