
<input type='text' id='scanner_input{{group.pk}}'
  name='scanned_code' class='form-control {{scanner_input_class}}'
  placeholder='Quick Search'
  _="on change debounced at 200ms
      call my.closest('form').requestSubmit() 
      then wait 100ms then my.closest('form').reset()
    end
    on focus
    set @data-focused to 'true'
    end
    on blur
    set @data-focused to 'false'
    end">


<button
type='button'
  id='scanner_input_button_{{group.pk}}'
class='btn btn-outline-primary btn-sm'
  _='on click 
        if #scanner_input{{group.pk}}@data-focused is not "true"
        then set value of #scanner_input{{group.pk}} to "" 
              then set my innerHTML to "Scanning..."
              then remove .btn-outline-primary from me
              then add .btn-warning to me
              then call #scanner_input{{group.pk}}.focus()
        end
    on click from body
        if event.target is not me 
        wait 100ms
          if #scanner_input{{group.pk}}@data-focused is "false"
          log "removing focus from text input"
          set button to `<i class="bi bi-upc-scan"></i>`
          set my innerHTML to button
                then add .btn-outline-primary to me
                then remove .btn-warning from me
          end
        end '>
<i class="bi bi-upc-scan"></i>
</button>


