
<div id="file_div_{{file.pk}}"  class="position-relative d-inline-block m-2" style="max-width: 150px">
    <img src='{% url "documents:load_image" pk=file.pk %}' 
        class="img-fluid"
        _="on click
            set cloned to me.parentElement.cloneNode(true)
            add .img-fluid to cloned
            set cloned.style.maxWidth to '100%'
            set cloned.style.height to 'auto'
            set cloned.style.width to '400px'   
            put cloned into #modal-image-container
            put `{{file.barcode_data}}` into #modal-barcode-container
            put `{{file.ocr_text}}` into #modal-ocr-container
            then call bootstrap.Modal.getOrCreateInstance('#imageModal').show()">

          <svg class="position-absolute top-0 start-0 w-100 h-100"
              style="pointer-events: none">
            {% for barcode in file.barcode_data %}
                <rect x="{{ barcode.x_pct}}%"
                      y="{{ barcode.y_pct}}%"
                      width="{{ barcode.w_pct}}%"
                      height="{{ barcode.h_pct}}%"
                      style="fill:green;opacity:0.3;stroke:green;stroke-width:2" />
          {% endfor %}
            {% for item in file.ocr_boxes.ocr_boxes %}
                <rect x="{{ item.x_pct}}%"
                      y="{{ item.y_pct}}%"
                      width="{{ item.w_pct}}%"
                      height="{{ item.h_pct}}%"
                      style="fill:green;opacity:0.3;stroke:green;stroke-width:2" />
            {% endfor %}
        </svg>

        <button class="btn btn-warning btn-sm position-absolute top-0 end-0 m-1"
        hx-post="{% url "documents:delete_temp_file" pk=file.pk %}"
        hx-target="#file_div_{{file.pk}}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-swap="outerHTML">
        X
    </button>
</div>


