{% load static %}
<div id="file_div_{{file.pk}}"  class="d-inline-block m-2" >
    <div class="position-relative" style="width: 100px" >
  
        {% if file.file %}
          <!-- Spinner -->
          <div
              id="spinner-{{ file.pk }}"
              class="position-absolute top-50 start-50 translate-middle" >
              <div class="spinner-border spinner-border-sm" role="status"></div>
          </div>
        <img src='{% url "documents:load_image" pk=file.pk %}' 
            class="img-fluid"
            _="on click
                if my.src contains '/static/'  then halt
      
                else
                  show #openseadragon_{{group.pk}}
                  set file_pk to file.pk
                  set url to `{% url 'documents:load_image' pk=file.pk %}`
                  
                  js(url) 
                    viewer.open({
                            type: 'image',
                            url: url ,
                            buildPyramid: false
                    })
                  end
                end
                on load from me hide #spinner-{{file.pk}}
                end
                on error
                set my.src to '{% static "bootstrap-icons/upc-scan.svg" %}'
                set my.style.width to '100%'
                set my.style.height to '100%'
                set my.style.objectFit to 'contain'
                hide #spinner-{{file.pk}}
                remove @hidden from #label-{{file.pk}}
                end
                ">
                <small id="label-{{ file.pk }}" class="mt-1 text-muted" hidden >
                      {% for barcode in file.barcode_data %} 
                          {{barcode.text}}
                      {% endfor %}
                    </small>
              <svg class="position-absolute top-0 start-0 w-100 h-100"
                  style="pointer-events: none">
                {% for barcode in file.barcode_data %}
                    <rect x="{{ barcode.x_pct}}%"
                          y="{{ barcode.y_pct}}%"
                          width="{{ barcode.w_pct}}%"
                          height="{{ barcode.h_pct}}%"
                          style="fill:green;opacity:0.3;stroke:green;stroke-width:2" />
              {% endfor %}
                {% for item in file.ocr_boxes %}
                    <rect x="{{ item.x_pct}}%"
                          y="{{ item.y_pct}}%"
                          width="{{ item.w_pct}}%"
                          height="{{ item.h_pct}}%"
                          style="fill:green;opacity:0.3;stroke:green;stroke-width:2" />
                {% endfor %}
            </svg>

            <i class="bi bi-trash btn btn-sm btn-warning position-absolute top-0 end-0 m-1"
              hx-post="{% url "documents:delete_temp_file" pk=file.pk %}?redirect_after_delete={{redirect_after_delete}}"
            hx-target="#file_div_{{file.pk}}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-swap="outerHTML"
            ></i>
      {% endif %}

    </div>
</div>


