<input id='files{{group.pk|default:0}}'
    type="file"
    name="files"
    class="form-control"
    accept="image/*,application/pdf"
    hidden
    capture="environment" multiple required
_="on change 
    if my.files[0].size > 5*1024*1024
    alert('File too large (max 5MB)')
    call my.closest('form').reset()
    else 
    call my.closest('form').requestSubmit() 
    then wait 100ms then my.closest('form').reset() ">

<button
  class='btn btn-outline-primary btn-sm'
  _='on click call #files{{group.pk|default:0}}.click()'
  type='button'><i class="bi bi-camera"></i></button>

