
{% if not file.file %}
  {% for code in file.barcode_data %}
    <li class="list-group-item">
      <div class='d-flex justify-content-between align-items-center'>
      <small>{{code.text}}</small>

      <i class="bi bi-trash"
      type='button'
      hx-post="{% url "documents:delete_temp_file" pk=file.pk %}?redirect_after_delete={{redirect_after_delete}}"
      hx-target="closest li"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-swap="outerHTML"
      ></i>
      </div>

    </li>
  {% endfor %}
{% endif %}
