
<div id="file_div_{{file.pk}}"  class="d-inline-block m-2" >
    <div class="position-relative" style="max-width: 100px" >
        <img src='{% url "documents:load_image" pk=file.pk %}' 
            class="img-fluid"
            _="on click
                show #openseadragon_{{group.pk}}
                set file_pk to file.pk
                set url to `{% url 'documents:load_image' pk=file.pk %}`
                
                js(url) 
                  viewer.open({
                          type: 'image',
                          url: url ,
                          buildPyramid: false
                  })
                  end
                ">

              <svg class="position-absolute top-0 start-0 w-100 h-100"
                  style="pointer-events: none">
                {% for barcode in file.barcode_data %}
                    <rect x="{{ barcode.x_pct}}%"
                          y="{{ barcode.y_pct}}%"
                          width="{{ barcode.w_pct}}%"
                          height="{{ barcode.h_pct}}%"
                          style="fill:green;opacity:0.3;stroke:green;stroke-width:2" />
              {% endfor %}
                {% for item in file.ocr_boxes %}
                    <rect x="{{ item.x_pct}}%"
                          y="{{ item.y_pct}}%"
                          width="{{ item.w_pct}}%"
                          height="{{ item.h_pct}}%"
                          style="fill:green;opacity:0.3;stroke:green;stroke-width:2" />
                {% endfor %}
            </svg>

            <i class="bi bi-trash btn btn-sm btn-warning position-absolute top-0 end-0 m-1"
            hx-post="{% url "documents:delete_temp_file" pk=file.pk %}"
            hx-target="#file_div_{{file.pk}}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-swap="outerHTML"
            ></i>
        </button>
    </div>
</div>


