{% load django_bootstrap5 %}
  <form id='add_image{{ group_id }}' enctype="multipart/form-data" method="post"
    novalidate
    action="{{scan_url}}?group={{ group_id }}"
    {% if not quick_scanner %}
    hx-post="{{scan_url}}?group={{ group_id }}"
    hx-swap="beforeend"
    hx-trigger='submit'
    hx-disabled-elt='#inputs_{{group_id}} input, #inputs_{{group_id}} button'
    hx-indicator='#spinner'
    {% endif %}
    _="on htmx:afterRequest
        wait 300ms
        trigger click on #scanner_input_button_{{group_id}}
      end
  ">
        
        {% if not quick_scanner %}
          {% if form %}
            {% bootstrap_form_errors form %}
          {% endif %}
        {% endif %}

          {% csrf_token %}
        <div class='d-flex gap-3' id='inputs_{{group_id}}'>

        <input type='text' id='scanner_input{{group_id}}'
          name='scanned_code' class='form-control {{scanner_input_class}}'
          placeholder='Quick Search'
          _="on change debounced at 500ms

              set form to #add_image{{ group_id }}
              then  form.reset()
            end
            on focus
            set my @data-focused to 'true'
            end
            on blur
            set my @data-focused to 'false'
            end">

        {% if not quick_scanner %}

          <button id='start_live_scanner_button' type="button" class="btn btn-outline-secondary btn-sm" 
            _='on click trigger start on #scanner then hide me then remove @hidden from #live_scanner'>
            Start Live Scan
          </button>
       {% endif %}


        <button
        type='button'
          id='scanner_input_button_{{group_id}}'
        class='btn btn-outline-secondary btn-sm'
          _='on click 
                if #scanner_input{{group_id}}@data-focused is not "true"
                then set value of #scanner_input{{group_id}} to "" 
                      then set my innerHTML to "Scanning..."
                      then remove .btn-outline-secondary from me
                      then add .btn-warning to me
                      then call #scanner_input{{group_id}}.focus()
                end
            on click from body
                if event.target is not me 
                wait 100ms
                  if #scanner_input{{group_id}}@data-focused is "false"
                  log "removing focus from text input"
                  set button to `<i class="bi bi-upc-scan"></i>`
                  set my innerHTML to button
                        then add .btn-outline-secondary to me
                        then remove .btn-warning from me
                  end
                end '>
        <i class="bi bi-upc-scan"></i>
        </button>





        <input id='files{{group_id}}'
            type="file"
            name="files"
            class="form-control"
            accept="image/*,application/pdf"
            hidden
            capture="environment" multiple required
        _="on change 
            set form to #add_image{{ group_id }}
            if my.files[0].size > 5*1024*1024
            alert('File too large (max 5MB)')
            call form.reset()
            else 
            call form.requestSubmit() 
            then wait 100ms then form.reset() end
            ">
          
        <button
          class='btn btn-outline-secondary btn-sm'
          id='file_input_button{{group_id}}'
          _='on click call #files{{group_id}}.click()'
          type='button'><i class="bi bi-camera"></i></button>

    </div>

  </form>
