{% extends "base.html" %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->



{% block content %}

<div id='asset_details' class="container">

    {#Return to Assets#}
      {% include "assets/partials/back_to_assets_button.html" %}


    <form hx-post="{{request.path}}"
    hx-target="#asset_details"
    hx-swap="innerHTML"
    hx-trigger="submit"
    hx-push-url='true'
    hx-select='#asset_details'>
        {{ form.media }} 
        {{ form.media.js }} 
        {% csrf_token %}
        
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
    
</div>

{% endblock %}