<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     
    <title>EBME AMS</title>
    {% load static %}
    <!-- Load bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Load bootstrap icons -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <!-- Load htmx -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <!-- Load favorite icon -->
    <link rel="icon" href="{% static 'company_info/favicon.ico' %}">
    <script src="{% static 'js/hyperscript.js' %}"></script>


</head>


<body id='body' class='bg-light'>
    <!--index-->
    {% if user.is_authenticated %}
    {% include "indices/index.html" %}
    {% endif %}
  

    {% block content %}
    {% endblock content %}



    {% block modal %}
    {% include "modal_div_base.html" %}
    {% endblock modal %}
  
<div class="toast-container position-fixed bottom-0 end-0 p-3"
_="on show_message from body 
    set msg to event.detail.message
    set level to event.detail.level or 'success'
    
    make a <div.toast/> called toast
    add .fade to toast
    add .show to toast
    add .{'bg-' + level} to toast
    add .text-white to toast


    put `<div class='d-flex'>
            <div class='toast-body'>${msg}</div>
            <button type='button'
            class='btn-close btn-close me-2 m-auto'
            data-bs-dismiss='toast'></button>
          </div>` into toast 

    put toast into me
    wait 4s
    remove toast
    ">
</div>

<!-- htmx selector funtions -->
{% include "hyperscript/htmx_selector._hs" %}

</body>
</html>

