{% load partials %}
{% load django_tables2 %}
{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->

<!-- define table partial -->
{% partialdef table-partial %}
{% include "partials/summary_data.html" %}
{% include "partials/form_filter_content.html" %}
{% render_table table%}
{% endpartialdef table-partial %}

<!--"change delay:500ms, keyup changed delay:500ms, submit"-->
<div id='filter-table-container' class="container-flex">

  <div class="row border p-2 m-3">
    <div class="col" >
      
            <form id='filter-form' hx-get="{% url app_link %}" hx-target="div.table-container" 
            hx-trigger="submit from:#filter-form, click from:#column_filter_btn "
            hx-swap="innerHTML" hx-push-url='true' hx-indicator='#spinner' name="search" hx-include='#pivot_filters'
              _="on change
                    remove @hidden from #filter_form_submit_button">
              {% include "partials/form_filter_content.html" %}
            </form>
    </div>

    <div class='col-12'>
          <div class="d-flex flex-row mb-3 gap-1">
            <!-- column chooser modal (modal and modal open button)-->
            {% include "users/partials/column_chooser_button.html" with column_chooser_model=model_name success_url=request.url %}
            <!-- column chooser modal (modal and modal open button)-->
            {% include "partials/add_filter_modal.html" %}
            <!-- count of results -->
            {% include "partials/summary_data.html" %}
        </div>
    </div>
  </div>
  <section id="result-section" class="row">
    <article id="results" class="col">
        <section id='summary_data' >

                <!-- Modal -->
                <div class="modal fade" id="summaryModal" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true"
                _="on hidden.bs.modal
                log 'modal closed'
                put '' into #div_field_summary_data">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5" id="summaryModalLabel">Column Summary</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div  class="modal-body">
                          <form id='pivot_filters'>
                                <div id='div_field_summary_data'></div>
                          </form>
                                <img id="spinner" class="htmx-indicator" width="24" height="24" src="{% static 'spinners/3-dots-fade.svg' %}">
                        </div>
                        <div class="modal-footer">
                            <button id='column_filter_btn' type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                  </div>
                </div>
        </section>
      <form id='row_select_form'>
        {% render_table table%}
      </form>
    </article>

  </section>

</div>
<!--script to trigger change events from select2 fields-->

<script>
  $(document).on('select2:select select2:unselect', '#filter-form select', function () {
    htmx.trigger('#filter-form', 'change');
  });
</script>

<script>
  $(document).on('select2:select select2:unselect', '#filter-form select', function () {
    htmx.trigger(this, 'change');
  });
</script>
