{% load django_bootstrap5 %}
  <form id='add_image' enctype="multipart/form-data" method="post"
    novalidate
    action="{% url 'jobs:add_formset_row' formset_type='scanner' %}"

    hx-post="{% url 'jobs:add_formset_row' formset_type='scanner' %}"
    hx-swap="beforeend"
    hx-trigger='submit'
    hx-include="#main_form"
    hx-disabled-elt='#inputs input, #inputs button'
    hx-indicator='#spinner'
      >
        
          {% csrf_token %}
        <div class='d-flex gap-3' id='inputs'>

        <input type='text' id='scanner_input'
          name='scanned_code' class='form-control {{scanner_input_class}}'
          placeholder='Quick Search'
          _="on change debounced at 500ms

              set form to #add_image
              log form
              then  form.reset()
            end
            on focus
            set my @data-focused to 'true'
            end
            on blur
            set my @data-focused to 'false'
            end">


        <button
        type='button'
          id='scanner_input_button'
        class='btn btn-outline-primary btn-sm'
          _='on click 
                if #scanner_input@data-focused is not "true"
                then set value of #scanner_input to "" 
                      then set my innerHTML to "Scanning..."
                      then remove .btn-outline-primary from me
                      then add .btn-warning to me
                      then call #scanner_input.focus()
                end
            on click from body
                if event.target is not me 
                wait 100ms
                  if #scanner_input@data-focused is "false"
                  log "removing focus from text input"
                  set button to `<i class="bi bi-upc-scan"></i>`
                  set my innerHTML to button
                        then add .btn-outline-primary to me
                        then remove .btn-warning from me
                  end
                end'>
        <i class="bi bi-upc-scan"></i>
        </button>
        <input id='files'
            type="file"
            name="files"
            class="form-control"
            accept="image/*,application/pdf"
            hidden
            capture="environment" multiple required
        _="on change 
            set form to #add_image
            if my.files[0].size > 5*1024*1024
            alert('File too large (max 5MB)')
            call form.reset()
            else 
            call form.requestSubmit() 
            then wait 100ms then form.reset() end
            ">
          
        <button
          class='btn btn-outline-primary btn-sm'
          id='file_input_button'
          _='on click call #files.click()'
          type='button'><i class="bi bi-camera"></i></button>

    </div>
          <button id='start_live_scanner_button' type="button" class="btn btn-outline-secondary btn-sm" 
            _='on click trigger start on #scanner then hide me then remove @hidden from #live_scanner'>
            Start Live Scan
          </button>
              {% with scanner_input_class='visually-hidden' group_id=group.pk %}
                {% include 'documents/partials/live_scanner.html' %}
              {% endwith %}
  </form>
