
{% load django_bootstrap5 %}
<h3>Test Eq</h3>
<button type="button"
  id='add_test_eq_button'
  class='btn btn-primary btn-sm'
  hx-get="{% url 'jobs:add_formset_row' formset_type='test_eq' %}"
  hx-include="#{{test_eq.prefix}}-management input"
  hx-swap="afterbegin"
  hx-target="#{{ test_eq.prefix }}-container"
  >
  Add Test Eq
</button>
  <div id='{{test_eq.prefix}}-management'>
  {{ test_eq.management_form }}
  </div>
<div id="{{ test_eq.prefix }}-container" class='d-flex flex-column'>
  {{ test_eq.media}}
  {% for form in test_eq %}
    <div class='d-flex flex-row justify-content-between align-items-end'>
    <p>{{form.test_eq.label }}</p>
    {% bootstrap_form form %}
    </div>
  {% endfor %}
</div>

{% partialdef row %} 
    <div class='formset-row d-flex flex-row justify-content-between align-items-end'>
    <p>{{form.test_eq.label }}</p>
    <button
        type="button"
        class="btn btn-danger align-self-middle"
        onclick="this.closest('.formset-row').remove()"
    >remove</button>
    </div>

{% endpartialdef %}
