{% load django_bootstrap5 %}

<div class='container-flex mb-2' id='job_test_eq_container'>
  <div class='d-flex flex-row gap-3'>
    <h3>Parts</h3>
    <button id='parts_list_button' class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#parts_canvas" aria-controls="parts_canvas">Add Parts</button>
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="parts_canvas" aria-labelledby="parts_canvas_label">
    <div class="offcanvas-header">
      <h5 id="parts_canvas_label">Select Test Eq</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div hx-get='{% url "jobs:parts_list" %}?formset_type={{parts_used.prefix}}&modelid={{object.assetid.modelid.pk}}'
          hx-trigger='click once from:#parts_list_button'
          hx-swap='innerHTML'
        hx-target='this'></div>
    </div>
  </div>


      <div id='{{parts_used.prefix}}-management'>
      {{ parts_used.management_form }}
      </div>
    <div id="{{ parts_used.prefix }}-container" class='d-flex flex-column'>
      {{ parts_used.media}}
      {% for form in parts_used %}
        <div class='d-flex flex-row justify-content-between align-items-end'>
        <p>{{form.partid.label }}</p>
    <input type='hidden' name='input_{{form.partid.value}}_input_id' value='{{form.partid.value}}'> 
        {% bootstrap_form form %}
        </div>
      {% endfor %}
    </div>
</div>


{% partialdef row %} 
      <input
          type="hidden"
          name="{{ prefix }}-TOTAL_FORMS"
          id="id_{{ prefix }}-TOTAL_FORMS"
          value="{{ total_forms|add:1 }}"
          hx-swap-oob="true"
      />
      <div class='formset-row d-flex flex-row justify-content-between align-items-end'>
      <p>{{form.partid.label}}</p>

      {% bootstrap_form form %}
      <input type='hidden' name='input_{{form.partid.value}}_input_id' value='{{form.partid.value}}'> 
      <button
          type="button"
          class="btn btn-danger align-self-middle"
          onclick="this.closest('.formset-row').remove()"
          >remove</button>
      </div>

{% endpartialdef %}
