{% load django_bootstrap5 %}

  <div class='d-flex flex-row gap-3'>
    <h3>Checklist</h3>
    <button id='check_list_button' class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#checklist_canvas" aria-controls="checklist_canvas">Add Checks</button>
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="checklist_canvas" aria-labelledby="checklist_canvas_Label">
    <div class="offcanvas-header">
      <h5 id="checklist_canvas_Label">Checklist</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div hx-get='{% url "jobs:check_list" modelid=object.assetid.modelid.pk %}?formset_type={{checklist.prefix}}'
          hx-trigger='click once from:#check_list_button'
          hx-swap='innerHTML'
        hx-target='this'></div>
    </div>
  </div>

    <div id='{{checklist.prefix}}-management'>
      {{ checklist.management_form }}
    </div>
    <div id="{{ checklist.prefix }}-container" class='d-flex flex-column'>
      {{ checklist.media}}
        <div  id="{{ checklist.prefix }}-rows">
          {% for form in checklist %}
              <div class='d-flex flex-row justify-content-between'>
                <p>{{form.checkid.label }}</p>
                <div class='d-flex flex-row'>{% bootstrap_form form  %}</div>
              <input type='hidden' name='input_{{form.checkid.value}}_input_id' value='{{form.checkid.value}}'> 
              </div>
          {% endfor %}
        </div>
    </div>


{% partialdef row %} 
    <div class='d-flex flex-row justify-content-between formset-row'>
      {{form.checkid.label }}
      <div class='d-flex flex-row'>{% bootstrap_form form  %}
          <button
              type="button"
              class="btn btn-danger align-self-middle btn-sm"
              onclick="this.closest('.formset-row').remove()"
          >remove</button>
          <input type='hidden' name='input_{{form.checkid.value}}_input_id' value='{{form.checkid.value}}'> 
      </div>
    </div>

    <input
        type="hidden"
        name="{{ prefix }}-TOTAL_FORMS"
        id="id_{{ prefix }}-TOTAL_FORMS"
        value="{{ total_forms|add:1 }}"
        hx-swap-oob="true"
    />

{% endpartialdef %}
