{% extends "base.html" %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->

{% block content %}


<div id='job_details' class="container">


<div class='container' id='temp_files' 
    hx-get="{% url 'documents:user_temp_files' %}?group={{temp_document_group}}"
    hx-trigger='load'
    hx-select='#images_div'
    hx-swap='outerHTML'> 
</div>


    
    <div class='row'>
        <div class='col'>
            <h3>Assets</h3>
                <li class="list-group">
                    {% for assetid,jobs in jobslist.items  %}
                        <li class="list-group-item list-group-item-action" aria-current="true">
                        
                            <h5>{{jobs.0.brandname}} - {{jobs.0.model}}-{{ jobs.0.serialnumber}} </h5>
                            {% for job in jobs  %}
                                <ul class="list-group">
                                    <li class="list-group-item">
                                            <p>{{job.jobid}} :
                                            {{job.jobtypename}}  
                                            {{job.jobstatus}}
                                            {{job.startdate}} - {{job.enddate}} 
                                            <button
                                                type='button'
                                                class="list-group-item"
                                                hx-get="{% url 'jobs:job_update_from_report' pk=job.jobid temp_file_group=temp_document_group %}"
                                                hx-target="#job_update_div_{{ job.jobid }}"
                                                hx-swap="innerHTML"> Update Job
                                            </button>
                                            </p>
                                        <div id='job_update_div_{{ job.jobid }}'>
                                        </div>
                                    </li>

                            {% endfor %}
                                <li 
                                    type='button'
                                    class="list-group-item"
                                    hx-get='{% url "jobs:create_job_from_report" temp_file_group=temp_document_group %}?assetid={{ assetid }}'
                                    hx-target="#job"
                                    hx-swap="innerHTML">
                                     New Job
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </li>
        </div>
    </div>

    <div id='job'>
    </div>

</div>


{% endblock content %}

