<div class="card">
  <div class="card-header">
    Open Jobs
  </div>
  <div class="card-body">
    <h5 class="card-title">
    {{total_jobs}} Open Jobs
    </h5>
    <p class="card-text"></p>
  </div>
  <div class="card-body">
    <a href='{% url "jobs:jobs_list" %}?jobstatusid__iexact=0&jobstatusid__iexact=2&jobstatusid__iexact=3&jobstatusid__iexact=5'class="btn btn-outline-warning mb-3">View Open Jobs</a>
      {% regroup object_list by jobtypename as grouped %}
      {% for group in grouped %}
        <h5>{{ group.grouper }}</h5>
        <ul class="list-group list-group-flush">
          {% for item in group.list %}
            <li class="list-group-item">
              <a class='btn btn-warning' href='{% url "jobs:jobs_list" %}?jobtypeid__iexact={{ item.jobtypeid }}&jobstatusid__iexact={{ item.jobstatusid }}'>
              {{ item.jobtypeid__jobtypename }}<span class="badge text-bg-secondary"> {{ item.count }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
  </div>
</div>
