{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->


{% block content %}

<div class="container-flex p-3 row-gap-3">
    <section id="title" class="row">
        <article class="col-12">
            <h1>Document Links</h1>
        </article>
    </section>


<section id="actions" class="row">
        <article class="col-12">
          <a class="btn btn-primary" href="{% url 'documents:create_document_link' %}">
            <i class="bi bi-cloud-plus"></i>
            Create New
          </a>
        </article>
    </section>
</div>

{% include "filter_table.html" with app_link='documents:table_document_links'%}


{% endblock content %}
