{% load django_bootstrap5 %}
                
                    <form novalidate id='add_image' enctype="multipart/form-data" method="post" action="{% url 'documents:quick_scanner'%}">
                      {% csrf_token %}
                    {% if form %}
                      {% bootstrap_form_errors form %}
                      {% endif %}
                      <div class='d-flex gap-3' id='inputs_{{group.pk|default:0}}'>
                      {% include "documents/partials/scanner_input.html" %}
                      {% include "documents/partials/temp_file_input.html" %}
                      </div>
                    </form>
