{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block content %}

<div class="container">
        <div class='row mt-3'>
            <div class="col-sm-12 col-md-4">
                <form id='quick_scan_form' method="post" action=" {% url "documents:quick_scanner" %}", enctype="multipart/form-data">
                    <h4>{{form_title}}</h4>
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    
                    {% bootstrap_button button_type='submit' content='Search' %}

                </form>
            </div>
        </div>
</div>

<div class='container'>
  {% if result.create_gtin %}
    <div class='row'>
        <h3>New GTIN identified</h3>
          {% if result.models_with_gtin %}
          <div class='col'>
            <h5>Duplicate Model</h5>
            {% for  model in result.models_with_gtin %}
      <a class='btn btn-warning' href='{% url "model_information:create_model" %}?modelid={{model.pk}}&gtin={{result.gtin}}'>Duplicate Model: {{model}}</a>
            {% endfor %} 
          </div>
          {% endif%}
          {% if result.models_without_gtin %}
          <div class='col'>
            <h5>Update existing model with GTIN</h5>
              {% for  model in result.models_without_gtin %}
              <a class='btn btn-warning' href='{% url "model_information:update_model" pk=model.pk %}?gtin={{result.gtin}}'>{{model}}</a>
              {% endfor %}
          </div>
          {% endif %}
          <div class='col'>
            <a class='btn btn-warning' href='{% url "model_information:create_model" %}?gtin={{result.gtin}}'>Add New Model</a>
            <a class='btn btn-warning' href='{% url "parts:create_part" %}?gtin={{result.gtin}}'>Add New Spare Part</a>
          </div>
    </div>
  {% endif %}
  {% if result.create_asset_from_gs1 %}
  <a class='btn btn-warning' href='{% url "assets:create_asset" %}?gs1_data={{result.gs1}}&modelid={{result.model.pk}}'>Add New Asset</a>
  {% endif %}

  <div class='row'>
    <div class='col'>
      <h3>Assets</h3>
      {% if result.too_many_assets %}
      <p>Too many results match</p>
      {% endif %}
      {% for asset in result.assets %}
        {% include 'documents/partials/quick_scan/assets_list.html' %}
      {% empty %}
      <div class='d-inline-flex gap-3'>
      <a class='btn btn-outline-primary' href='{% url "assets:assets_list" %}?universal_search={{result.search_term}}'>Search Assets</a>
      </div>
      {% endfor %}
      
    </div>
    <div class='col'>
      <h3>Jobs</h3>
      {% if result.too_many_jobs %}
      <p>Too many results match</p>
      {% endif %}
      {% for job in result.jobs %}
        {% include 'documents/partials/quick_scan/jobs_list.html' %}
      {% empty %}
      <div class='d-inline-flex gap-3'>
      <a class='btn btn-outline-primary' href='{% url "jobs:jobs_list" %}?universal_search={{result.search_term}}'>Search Jobs</a>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock content %}
