{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

  <div class="row">
      <div class="col d-inline-flex gap-3 border border-2  border-secondary  m-3 p-3 align-items-end">
          <h6>Quick Scan:</h6>
          {% url 'documents:create_temp_file' as scan_url %}
          {% with scanner_input_class='visually-hidden' group_id='new' %}
            {% include 'documents/partials/temp_upload_create.html' %}
          {% endwith %}

          <button
              class='btn btn-sm btn-outline-primary'
              hx-post='{% url "documents:temp_group_create" %}'
              hx-swap='none'
              hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
              hx-target='this'
            >New Scan</button>

      </div>
  </div>
  <div class="row">
      <div class="col col-lg-4 gap-3">
          {% with scanner_input_class='visually-hidden' group_id='new' %}
          {% include 'documents/partials/live_scanner.html' %}
          {% endwith %}

      </div>
  </div>

  <div class='row mb-3'>

    <div id="delete_all_div" class="col">
      <h3>Scan History</h3>
      <form
          hx-post="{% url 'documents:delete_all_temp_files' %}"
          hx-target="#images_div"
          hx-trigger="submit"
          hx-swap="outerHTML"
          hx-select='#images_div'
          hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
              <button class="btn btn-secondary" type="submit">
                      Delete All
              </button>
        </form>
    </div>
  </div>

  <div id="images_div" class='container'>
        {% for group in temp_groups %}
            <div class='row'>
              <div
              hx-trigger='load'
              hx-target='this'
              hx-swap='outerHTML'
              hx-get='{% url "documents:temp_group" pk=group.pk %}?mini=true'
              >
            </div>
        </div>
        {% endfor %}
  </div>
      

</div>



{% endblock content %}
