{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

  <div class="row">
      <div class="col">
          <h3>Create New Group</h3>

          {% url 'documents:create_temp_file' as scan_url %}
          {% with scanner_input_class='visually-hidden' group_id='new' %}
            {% include 'documents/partials/temp_upload_create.html' %}
          {% endwith %}
      </div>
  </div>

  <div class='row mb-3'>

    <div id="delete_all_div" class="col">
      <h4>Uploaded Images</h4>
      <form
          hx-post="{% url 'documents:delete_all_temp_files' %}"
          hx-target="#images_div"
          hx-trigger="submit"
          hx-swap="outerHTML"
          hx-select='#images_div'
          hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
              <button class="btn btn-warning" type="submit">
                      Delete All
              </button>
        </form>
    </div>
  </div>

  <div id="images_div" class='container'>
        {% for group in temp_groups %}
            <div class='row'>
          {% include "documents/temp_file_group.html#temp_group" %}
        </div>
        {% endfor %}
  </div>
      

</div>



{% endblock content %}
