
{% if result.assets %}
    <div class="col-auto" style="max-width: 18rem;">
        <div class="card border-secondary">
          <div class="card-body">
            <h5 class="card-title">Partial Asset matches</h5>
            <p class="card-text">
                {% for asset in result.assets %}
                  {% include 'documents/partials/quick_scan/assets_list.html' %}
                {% endfor %}
            </p>

          </div>
        <div class="card-footer bg-transparent">
          {{result.gs1}}
          <a class='btn btn-sm btn-outline-primary' href='{% url "assets:assets_list" %}?universal_search={{result.search_term}}'>Search in Assets</a>
        </div>
      </div>
    </div>
 {% endif %}


  {% if result.jobs %} 
    <div class="col-auto" style="max-width: 18rem;">
        <div class="card border-secondary">
          <div class="card-body">
            <h5 class="card-title">Job matches</h5>
            <p class="card-text">
                {% for asset in result.assets %}
                  {% include 'documents/partials/quick_scan/jobs_list.html' %}
                {% endfor %}
            </p>
          </div>
        <div class="card-footer bg-transparent">
          {{result.gs1}}
          <a class='btn btn-sm btn-outline-primary' href='{% url "jobs:jobs_list" %}?universal_search={{result.search_term}}'>search in jobs</a>
        </div>
      </div>
    </div>
 {% endif %}

