{% extends "base.html" %}

{% block content %}

<!--List po Details -->

<div id="order_details" class='container bg-white p-4 rounded'>
    <div class="container-fluid">
        <div class="row"> 
          <div class="col">
            <p><small class="text-muted">PO: </small>{{po.po_id}}</p>
            <p><small class="text-muted">Order Status: </small>{{po.order_status}}</p>

            <p><small class="text-muted">Supplier: </small>{{po.supplier}}</p>
            <p><small class="text-muted">Date Raised: </small>{{po.date_raised}}</p>
            <p><small class="text-muted">Delivery Address: </small>{{po.ship_to_add}}</p>
          </div>
          <div class="col">
            <p><small class="text-muted">Value: </small>£{{po.sub_total}}.</p>
            <p><small class="text-muted">Value incl VAT: </small>£{{po.po_total}}.</p>
          </div>
          <div class="col text-end">


            <a
              href="{% url 'procurement:po_update' pk=po.po_id %}"
              class="btn text-primary">EDIT
            </a>

            <a href="{% url 'procurement:deliveries_create' po_id=object.pk %}"
            class='btn text-primary text-end'>CREATE DELIVERY</a>

            <a
              href="{% url 'procurement:po_delete' pk=po.po_id %}"
              class="btn text-danger">DELETE
            </a>


            <a
              href="{% url 'procurement:gen_po' pk=object.po_id %}"
              class="btn text-info">PRINT
            </a>
            <a
              href="{% url 'procurement:invoices_create' %}?po={{object.po_id}}"
              class="btn text-info">Create Invoice
            </a>
            </div>
            <div id='actions' class='collapse'>
              

        </div>
        <div id='child_lines_row' class="row">
          <div class='col-12'
            {% include 'procurement/partials/outstanding_items.html' %}
          </div>

          <div class='col-12'
            {% include 'procurement/partials/deliveries.html' %}
          </div>

          <div class='col-12'       
            {% include 'procurement/partials/invoices.html' %}
          </div>

        </div>
      
    </div>
</div>


{%endblock content%}

