{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}    
<div id='job_details' class='container mb-3'>
    
    {% include "jobs/partials/back_to_jobs_button.html" %}
    
    <div class='row'>
        <div class='col'>

            <form action="{% url 'jobs:job_create' %}", method="post">
              {% partialdef form_fields inline %}
                    {% bootstrap_messages %}
                    {{ form.media }}
                    {% csrf_token %} 
                    {% bootstrap_form form layout='horizontal' %}
                    {% include 'partials/form_buttons.html' %}
              {% endpartialdef %}
            </form>
        </div>
    </div>
        
    
</div>
{%endblock content%} 
