{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}    
<div id='job_details' class='container mb-3'>
    
    {% include "jobs/partials/back_to_jobs_button.html" %}
    
    <div class='row'>
        <div class='col'>

            <form action="{% url 'jobs:job_create' %}", method="post">
                    {% bootstrap_messages %}
                    {{ form.media }}
                    {% csrf_token %} 
                    {% bootstrap_form form layout='horizontal' %}
                    <button type="submit" class="btn btn-primary">Save Job</button>

              
                      <h3>Checklist</h3>
                      <button type="button"
                        class='btn btn-primary btn-sm'
                        hx-get="{% url 'jobs:add_formset_row' formset_type='checklist' %}"
                        hx-include="#{{checklist.prefix}}-management input"
                        hx-target="#{{checklist.prefix}}-container"
                        hx-swap="beforeend">
                        Add Test Eq
                      </button>
                        <div id='{{checklist.prefix}}-management'>
                        {{ checklist.management_form }}
                        </div>
                      <div id="{{ checklist.prefix }}-container" class='d-flex flex-column'>
                        {{ checklist.media}}
                        {% for form in checklist %}
                          <div>
                          {% bootstrap_form form layout='horizontal' %}
                          </div>
                        {% endfor %}
                      </div>

                      <h3>Test Eq</h3>
                      <button type="button"
                        class='btn btn-primary btn-sm'
                        hx-get="{% url 'jobs:add_formset_row' formset_type='test_eq' %}"
                        hx-include="#{{test_eq.prefix}}-management input"
                        hx-target="#{{test_eq.prefix}}-container"
                        hx-swap="beforeend">
                        Add Test Eq
                      </button>
                        <div id='{{test_eq.prefix}}-management'>
                        {{ test_eq.management_form }}
                        </div>
                      <div id="{{ test_eq.prefix }}-container" class='d-flex flex-column'>
                        {{ test_eq.media}}
                        {% for form in test_eq %}
                          {% bootstrap_form form %}
                        {% endfor %}
                      </div>
  
                      <h3>Parts</h3>
                      <button type="button"
                        class='btn btn-primary btn-sm'
                        hx-get="{% url 'jobs:add_formset_row' formset_type='parts_used' %}"
                        hx-include="#{{parts_used.prefix}}-management"
                        hx-target="#{{parts_used.prefix}}-container"
                        hx-swap="beforeend">
                        Add Part
                      </button>
                        <div id='{{parts_used.prefix}}-management'>
                        {{ parts_used.management_form }}
                        </div>
                      <div id="{{ parts_used.prefix }}-container" class='d-flex flex-column'>
                        {{ parts_used.media}}
                        {% for form in parts_used %}
                          {% bootstrap_form form %}
                        {% endfor %}
                      </div>
            </form>
        </div>
    </div>
        
    
</div>
{%endblock content%} 
