{% extends "base.html" %}
{% load crispy_forms_tags %} <!-- Load Crispy Forms -->
{% load static %}

{% block content %}



<div id='report_reader' class='container'>

    <form class="form"  
    hx-post='{{request.path}}' 
    hx-target='#job_details'
    hx-swap='outerHTML'
    hx-indicator='#spinner'
    hx-trigger='change, click from:#save_button'
    hx-on::after-request="if(event.detail.successful) document.getElementById('id_images').value=''"
    enctype="multipart/form-data">  
        {% csrf_token %}
        {{ form|crispy }}

        <button id="save_button"
         class="btn btn-warning"
          type="button">
            <span>Get Job Info</span>            
        </button>
    </form>
        <img  id="spinner" class="htmx-indicator" src="{% static "spinners/3-dots-fade.svg" %}">


</div>

<div class='container' id='job_details' >
    {% if request.session.temp_file != '' %}
        {% include "documents/partials/temp_files.html" with target='#report_reader' success_url='jobs:report_scanner' %}
    {% endif %}
</div>


{% endblock content %}